<ion-view view-title="Select Options"> <ion-header-bar
	class="bar-positive">
<h1 class="title">Select Options</h1>
</ion-header-bar> <ion-content padding="false" scroll="false" has-bouncing="false">
<div class="list">
	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" ng-click="captureImage()">Capture
				Photos</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" ng-click="captureVideo()">Capture
				Video</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" ng-click="recordVoice()">Record Voice</button>
		</div>
	</div>
</div>
</ion-content> </ion-view>